
body {
    margin: 0;
    padding: 0;
    /* background-color: #000; */
    /* color: #fff; */

    background-color: #05101a;
    color: #dbdbdb;
    font-family: sans-serif;
}


.container {
    display: grid;
    grid-template-columns: 1fr min-content minmax(min-content, 1fr);
    /* grid-template-columns: 10% min-content minmax(40%, 1fr); */
    gap: 5ex;

}

.onegauge {
    display: grid;
    /* grid-template-columns: minmax(40ex, min-content) 1fr; */
    /* grid-template-columns: max-content 1fr; */
    /* grid-template-columns: 30ex 1fr 4ex; */
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* outline: 1px solid peachpuff; */
    /* margin-bottom: 1ex; */
    padding: 1ex;
    /* border: 2px solid peachpuff; */
    /* resize: both; */
    /* overflow: auto; */
    column-gap: 2ex;
    row-gap: 1ex;
}

.controls {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.onegauge:nth-of-type(odd) {
    /* background-color: #111; */
    background-color: #091724;
}

.sliders {
    display: grid;
    grid-template-columns: max-content min-content;
    row-gap: 1ex;
    column-gap: 2ex;
    align-items: center;
}

.composite {
    margin-top: 2ex;
    border: 1px solid white;
}

input[type="range"]:focus {
    outline: 1px solid white;
}

.plusminus {
    display: inline-grid;
    justify-self: end;
    grid-template-columns: 3ex 12ex 3ex;
}
.plusminus input[type="text"] {
    text-align: right;
}

.colorvals {
    display: grid;
    grid-template-columns: 12ex max-content max-content 16ex 2ex;
    grid-auto-rows: 5ex;
    justify-items: center;
    column-gap: 2ex;
    align-items: center
}
.colorvals input {
    box-sizing: border-box;
    width: 100%;
}

.edit-spectrum {
    display: grid;
    grid-template-columns: 12ex 1fr 2ex;
    grid-auto-rows: 5ex;
    justify-items: center;
    column-gap: 2ex;
    align-items: center
}
.edit-spectrum input {
    box-sizing: border-box;
    width: 100%;
}



.gauge-list {
    margin-top: 2ex;
    margin-left: 2ex;
    scrollbar-gutter: stable;
    overflow-y: auto;
    height: 90vh;
    z-index: 1000;
}

.onegauge > canvas {
    max-height: 12ex;
    max-width: 200px;
}

.edit-spectrum-label {
    display: flex;
    flex-direction: column;
}

button, input, select, textarea {
    color: #fff;
    background-color: #161f27;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}


input:disabled,
input[disabled] {
  outline: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

input.delete-button:disabled,
input.delete-button[disabled] {
  outline: 1px solid #999999;
  background-color: transparent;
}



.dynamic-repo-button {
    background-color: #254a6c;
    font-size: 115%;
}

.save-panel-button {
    background-color: #254a6c;
}

.panel-list {
    display: grid;
    grid-template-columns: max-content 8ex 1fr min-content;
    align-items: center;
}

.panel-rename-button {
    justify-self: end; 
}

.panel-rename {
    justify-self: end;
    display: flex;
}
.panel-delete {
    display: flex;
}

.delete-button {
    background-color: #6a0d12;
}

.example-panels {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15ex, 1fr));
}



/* MODAL */
.modal {
  position: fixed;
  z-index: 99999; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #202b38;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-bottom: 200px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
