*~
*RCT*
*#*
*.lc
*.csv
*.out
*.zip
*.lux
DS/
~DS/
DFM-LSO/*.png
DFM-LSO/temp*.png
T-Wizard/Fields
T-Wizard/JSON/*.png
MapsSimon/
M-*.jsn
MF-*.jsn
*.igc
DFM-Maps/M-*.jsn
DFM-Maps/MF-*.jsn
DFM-Maps/*.rct
DFM-Maps/IGC/*.igc
DFM-Maps/JSON/sensorEmulator*
DFM-Maps/Maps/*
/*.lua
DFM-TCA/Audio/*.wav
DFM-FltE/FD-*
DFM-Batt/BD_*
DFM-Crow/C-*
DFM-Dial/DD_*
DFM-GPS/FF_*
DFM-GPS/GG_*
DFM-Amix/C-*
CTU-DFM/LF_*
DFM-InsP/II_*
DFM-InsP/Docs/*.HTML
.shadow-cljs/
node_modules/
Gauges/resources/gauges/js/
maps-web/resources/maps/js/
DFM-InsP/Panels/*.png
DFM-InsP/Panels/*.json
DFM-InsP/Panels/*.HTML
DFM-F3Gb/GPS.jsn
Gauges/resources/gauges/*.md
release-output/
build/bb
.nrepl-port
classes/
.cpcache/
Glass/ALookCom
Glass/__pycache__
Glass/font
Glass/sensorParam.py
Glass/setTimer.py
Glass/GG*.jsn
Glass/Configs/*Image*.txt
Glass/Images/*Image*.png
GlassBuild/Configs/*Image*.txt
GlassBuild/Configs/*Image*.json
GlassBuild/Images/small/*Image*.png
GlassBuild/Images/smaller/*Image*.png
Glass/Configs/config*.txt
Glass/Json/instr*.jsn
GlassBuild/Images/Image*.bmp
GlassBuild/Images/Inst*.jsn

