{:paths ["Gauges/src"
         "Gauges/resources"
         "dynamic-repo-server/src"
         "release-output"]
 :deps {org.clojure/clojure             {:mvn/version "1.11.1"}
        cheshire/cheshire               {:mvn/version "5.1.0"}
        ring/ring-core                  {:mvn/version "1.9.3"}
        http-kit/http-kit               {:mvn/version "2.5.3"} 
        org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
        thheller/shadow-cljs            {:mvn/version "2.12.2"}
        datascript/datascript           {:mvn/version "1.2.2"}
        rum/rum                         {:mvn/version "0.12.6"}
        bidi/bidi                       {:mvn/version "2.1.6"}}}
