
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}


.container {
    display: grid;
    grid-template-columns: 1fr min-content minmax(min-content, 1fr);
    /* grid-template-columns: 10% min-content minmax(40%, 1fr); */
    gap: 5ex;

}

.onegauge {
    display: grid;
    /* grid-template-columns: minmax(40ex, min-content) 1fr; */
    /* grid-template-columns: max-content 1fr; */
    /* grid-template-columns: 30ex 1fr 4ex; */
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* outline: 1px solid peachpuff; */
    /* margin-bottom: 1ex; */
    padding: 1ex;
    /* border: 2px solid peachpuff; */
    /* resize: both; */
    /* overflow: auto; */
    column-gap: 2ex;
    row-gap: 1ex;
}

.controls {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.onegauge:nth-of-type(odd) {
    background-color: #111;
}

.sliders {
    display: grid;
    grid-template-columns: max-content min-content;
    row-gap: 1ex;
    column-gap: 2ex;
    align-items: center;
}

.composite {
    margin-top: 2ex;
    border: 1px solid white;
}

input[type="range"]:focus {
    outline: 1px solid white;
}

.plusminus {
    display: inline-grid;
    /* justify-self: center; */
    grid-template-columns: 3ex 6ex 3ex;
}

.colorvals {
    display: grid;
    grid-template-columns: 8ex max-content max-content 16ex;
    justify-items: center;
    column-gap: 2ex;
}
.colorvals input {
    box-sizing: border-box;
    width: 100%;
}

.edit-spectrum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 2ex;
}



.gauge-list {
    margin-top: 2ex;
    margin-left: 2ex;
    scrollbar-gutter: stable;
    overflow-y: auto;
    height: 90vh;
}

.onegauge > canvas {
    max-height: 12ex;
    max-width: 200px;
}

.edit-spectrum-label {
    display: flex;
    flex-direction: column;
}

.textvalue-list {
    display: grid;
    grid-template-columns: 3ex 1fr 3ex;
    justify-items: center;
    align-items: center;
    gap: 1ex;
}
